
.flag-fonts {
    font-size: 30px;
}

.dropdown {
    text-align: right;
    top: 50px;
}
.title{
    text-align: center;
    font-size:xx-large;
    font-family: "American Typewriter";
    color: limegreen;
    padding: 5px;


}
.logo{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 45px;
    left: 26px;

}
