body{
    background-color:white;
}
#write{
    background-color: black;
}

.textNik {
    font-style: oblique;
    color: white;
    font-size: 16px;
}

.nik{
    font-style: italic;
    color:white;
    margin-top: 100px;
    font-size: 30px;


}

img {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    width: 240px;
    height: 300px;
    box-shadow: 5px 10px black;
    margin-top: 20px;


}
